:root {
    --color-p: #111d4a;
    --color-s: #05cbe9;

    --font-stack-1: 'Blinker', sans-serif;
    --font-stack-2: 'Source Sans Pro', sans-serif;

    --title-small: 1.75rem;
    --body-small: 1rem;
    --button-small: 1.25rem;

    --title-big: 2rem;
    --body-big: 1.125rem;
    --button-big: var(--button-small);
}

.card {
    width: 90%;
    margin: 0 auto;
    max-width: 800px;
    background-color: var(--color-p);  
    color: #fff;
    display: flex;
    flex-direction: column;
}

@media (min-width: 600px) {
    .card {
        flex-direction: row;
        align-items: flex-start;
    }

    .card__image {
        height: 300px;
    }
}

.card__image {    
    object-fit: cover;    
    flex-basis: 200px;
    min-width: 0;
    min-height: 0; 
}

.card__content {
    padding: 1em;
}

.card__title,
.card__footer {
    font-family: var(--font-stack-1);
}

.card__title {
    font-size: var(--title-small);    
    color: var(--color-s);
    font-weight: 700;
    letter-spacing: 1px;
    line-height: 1.2;
    margin: 0;
}

.card__body {
    font-family: var(--font-stack-2);
    font-size: var(--body-small);      
    line-height: 1.7;
}

.card__footer { 
    display: flex;
    justify-content: space-between;
    align-items: flex-end;    
    font-weight: 400;
}

@media (min-width: 600px) {
    .card__footer {
        align-self: flex-end;
    }
}

.card__read {
    margin: 0;
    opacity: .6;   
    line-height: 1;
    margin-top: 2em;    
}

.card__read__number {
    font-size: var(--title-small);
    font-weight: 700;    
    letter-spacing: 1px; 
    display: block;
    font-size: 1.25em;    
}

.btn {
    text-decoration: none;
}

.btn-card {    
    font-weight: 700;
    font-size: var(--button-small);
    background: var(--color-s);
    color: var(--color-p);
    padding: .35em 1em;
    letter-spacing: 1px;
}