:root {
    --blue-dark: #23424A;
    --blue-med: #136C72;
    --blue-light: #38CFD9;

    --purple: #87629A;
    --black: #3A3A3A;

    font-size: 16px;
}

* {
    box-sizing: border-box;
}

body {
    font-family: Roboto sans-serif;
    color: var(--black);
    margin: 0;
}

/****************
 Typography 
*****************/

h1 {
    font-weight: 900;
}

h2 {
    font-weight: 700;
}

p {
    font-weight: 400;
}


/*****************
 Layout 
*****************/

/* section {
    padding: 5em;
} */

.wrapper {
    width: 80%;
    max-width: 800px;
    margin: 0 auto;
    /* border: 1px solid yellowgreen; */
}

.hero {
    background: var(--blue-dark);
    color: white;
    padding: 7em 0;
}

.hero__text {
    width: 70%;
    max-width: 600px;
    /* border: 1px solid pink; */
}

.hero p {
    margin-bottom: 2em;
}

.main {
    padding: 5em 0;
    text-align: center;
}

.main h2 {
    color: var(--purple);
}

.footer {
    background: var(--blue-med);
    color: white;
    padding: 3em 0;
    text-align: center;    
}

.row {
    display: flex;
}

.col {
    width: 100%;
}

.col + .col {
    margin-left: 2em;
}

/*****************
 Components 
*****************/

.hero__btn {
    display: inline-block;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-decoration: none;
    color: var(--blue-dark);
    background: var(--blue-light);
    padding: .75em 2em;
    border-radius: 100px;
}

.hero__btn:hover,
.hero__btn:focus {
    color: white;
    background: var(--purple);
}