/* Base Styles */

html {    
    --primary-color: #312614;
    --secondary-color: #b7832f;
    --tertiary-color: #707070;
    --white: #fff;  
}

body {
    font-size: 1.125rem;
    color: var(--tertiary-color);
    margin: 0;
    background: pink;
}

/* from a minimum width of 400px or higher
@media (min-width: 400px) {
    body {
        background: purple;
    }
} */


/* from a minimum width of 400px to a width of 649px */
@media (min-width: 400px) and (max-width: 649px) {
    body {
        background: purple;
    }
}


/* from a minimum width of 650px or higher */
@media (min-width: 650px) {
    body {
        background: tomato;
    }
}





h1 {
    font-size: 3rem;
    text-align: center;
    color: #212614;
}

h2 {
    font-size: 1.5rem;
}

h1 span {
    color: var(--secondary-color);
}

p {
    margin-top: 0;
}

img {
    max-width: 100%;    
}

/* Layout */

.wrapper {    
    max-width: 980px;
    width: 90%;
    margin: 0 auto;    
}

.columns {
    display: flex;
    justify-content: space-between;
    margin: 1em 0;
}

.col-1 {
    width: 20%;
}

.col-2 {
    width: 45%;
}

.col-3 {
    width: 70%;
}

.col-bg {
    background-color: var(--primary-color);
    color: var(--white);
    padding: 1em;
}